{{!-- <div class="card-columns">
  {{#each product}}
    <div class="card">
      <img class="card-img-top" src="{{this.image_href}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{this.name}}</h4>
        <p class="card-text">{{this.store}}</p>
        <p class="card-text">{{this.price}}</p>
      </div>
    </div>
  {{/each}}
</div> --}}

<div class="card-deck">
  {{#each product}}
  <div class="card" style="min-width: 300px;">
    <img class="card-img-top" src="{{this.image_href}}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{this.name}}</h4>
      <p class="card-text">{{this.store}}</p>
      <p class="card-text">{{this.price}}</p>
    </div>
  </div>
  {{/each}}
</div>