{{!-- <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Artriofin 88mg comprimido</h5>
            <h5>$9.990</h5>
        </div>
        <p class="mb-1">Daymascotas</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Artriofin 88mg</h5>
            <h5>$11.990</h5>
        </div>
        <p class="mb-1">Veterinaria Oriente</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Artriofin comprimido oral</h5>
            <h5>$12.590</h5>
        </div>
        <p class="mb-1">Noi</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Artriofin 88mg</h5>
            <h5>$12.990</h5>
        </div>
        <p class="mb-1">Clinica Veterinaria Oriente</p>
    </a>
</div> --}}

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-secondary">
            {{ this.msg }}
        </div>
    {{/each}}
{{/if}}

{{#each med}}
<div>
    <a href="{{this.href}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{this.name}}</h5>
            <h5>{{this.price}}</h5>
        </div>
        <p class="mb-1">{{this.store}}</p>
    </a>
</div>
{{/each}}