<a class="btn btn-primary" href="/admin/tiendas/agregar">Ingresar Nueva Tienda</a>
<br />
<br />
<h2>Lista de tiendas</h2>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Tienda</th>
      <th>Calle</th>
      <th>Comuna</th>
      <th>Region</th>
      <th>Teléfono</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each store}}
    <tr>
      <td><a href="https://{{this.website}}">{{this.brand_name}}</a></td>
      <td>{{this.location_name}}</td>
      <td>{{this.address_street}}</td>
      <td>{{this.address_commune}}</td>
      <td>{{this.address_region}}</td>
      <td>{{this.phone1}}</td>
      <td><a class="btn btn-primary btn-sm" href="/admin/tiendas/editar/{{this._id}}">Editar</a></td>
    </tr>
    {{/each}}
   <tbody>
</table>

