<a class="btn btn-primary" href="/gestiontiendas/nuevatienda">Ingresar Nueva Tienda</a>
<h2>Lista de tiendas</h2>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Tienda online</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each store}}
    <tr>
      <td><a href="https://{{this.website}}">{{this.name}}</a></td>
      <td>{{this.address.[0]}}</td>
      <td>{{this.phone.[0]}}</td>
      <td><a href="/gestiontiendas/edit/{{this._id}}">Editar</a></td>
    </tr>
    {{/each}}
   <tbody>
</table>

